.map-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.map-image img{
    width: auto;
    height: 400px;
    cursor: pointer;
    border-radius: var(--global-border-radius);
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.space-for2image{
    width: 10%;
}

p{
    min-height: 37px;
}