:root{
    
    --gray: #222;
    --light-gray: #333;
    --light-gray-2: #444;
    --light-gray-3: #555;

    --black: #000;
    --white: #fff;

    --body-font-color: var(--white);

    --link-color: #7289da;
    --link-color-hover: #a0b4ee;

    --player-icon-color: #f4c542;
    --construction-color: #ff6347;


    --global-font-size: 16px;
    --global-border-radius: 10px;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    font-size:  var(--global-font-size);
    
    color: var(--body-font-color);
    background-color: var(--gray);

    margin: 0;
    padding: 0;
   
    text-align: center;
}

h1 {
    font-size: 36px;
}



