:root {
    --primary-background: #202328;
    --secondary-background: #42464e;

    --section-background: #2e3139;
    --section-background-90: rgba(46, 49, 57, .90);

    --black: #15171B;
    --white: #EAECEF;

    --body-font-color: var(--white);

    --link-color: #98c3ff;
    --link-color-hover: #bed9ff;
    --link-decoration: none;
    --link-decoration-hover: underline;
    --link-font-weight: bold;
    --link-transition: color 0.3s ease;

    --nav-border-color: #A3A7B2;
    
    --player-icon-color: #FFCE43;
    --construction-color: #F97300;
    --current-online-color: #2afe77;

    --global-font-size: 16px;
    --global-border-radius: 10px;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    font-size:  var(--global-font-size);
    
    color: var(--body-font-color);
    background-color: var(--primary-background);

    margin: 0;
    padding: 0;
   
    text-align: left;
}

h1 {
    font-size: 36px;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.text-center{
    text-align: center;
}

.hyperlink {
    color: var(--link-color);
    text-decoration: var(--link-decoration);
    font-weight: var(--link-font-weight);
    transition: var(--link-transition);
}

.hyperlink:hover {
    color: var(--link-color-hover);
    text-decoration: var(--link-decoration-hover);
}

.emoji {
    display: contents;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.emoji img, .emoji i {
    object-fit: scale-down;
    width: 1.1em;
    height: 1.1em;
}

@media (max-width: 768px) {
    .hide-on-mobile{
        display: none;
    }
}

.text-50 {
    width: 50%;
    background-color: var(--section-background);
    border-radius: var(--global-border-radius);
    padding: 20px;
}


.text-100 {
    width: 100%;
    background-color: var(--section-background);
    border-radius: var(--global-border-radius);
    padding: 20px;
}

.icon{
    width: 32px; 
    height: 32px; 
    object-fit: scale-down;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2.5px;
    margin-left: 2.5px;
}
