:root{
    --light-gray: #333;
    --gray: #222;
    --black: #000;
    --white: #fff;

    --body-font-color: var(--white);
    
    --link-color: #7289da;
    --link-color-hover: #a0b4ee;



    --global-font-size: 16px;

}

body {
    font-family: "Roboto", Arial, sans-serif;
    font-size:  var(--global-font-size);
    
    color: var(--body-font-color);
    background-color: var(--gray);

    margin: 0;
    padding: 0;
   
    text-align: center;
}

h1 {
    font-size: 36px;
}



