h1{
    font-size: 48px;
    margin-bottom: 20px;
}
h2{
    font-size: 34px;
    margin-bottom: 20px;
}
h3{
    font-size: 26px;
    margin-bottom: 16px;
}
h4{
    font-size: 21px;
    margin-bottom: 12px;
}
h5{
    font-size: 15px;
    margin-bottom: 8px;
}
h6{
    font-size: 10px;
    margin-bottom: 4px;
}


html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1;
}

nav {
    ul {
      list-style-type: none; 
      padding: 0; 
      margin: 0; 
      display: flex; 
      justify-content: center; 
    }
  
    ul li {
      margin: 0 15px; 
      position: relative; 
    }
  
    ul li a {
      text-decoration: none; 
      color: #333; 
    }
}

.header {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #333;
}

.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 3px 0;
    box-shadow: 0px 0px 3px #333;
    z-index: 99;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 150px;
    
    li {
        margin: 0;
    }

    li:hover > .submenu2 {
        display: block;
    }

    li a {
        padding: 10px;
        display: block;
        text-align: left;
    }

    li a:hover {
        background-color: #f0f0f0;
    }

    .submenu2 {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        border: 1px solid #ccc;
        background-color: #fff;
        width: 150px;
    }
}

.construction_pic{
    width: 400px;
}

.hidden {
    display: none;
}

