footer{
    font-size: var(--global-font-size);
    background-color: var(--section-background);
    color: var(--body-font-color);

    text-align: center;

    padding: 20px 20px;
    margin-top: 40px; 
    height: 120px;
}

.footer-container {
    max-width: 800px;
    margin: auto;
}

.footer-links {
    margin-top: 10px;
}

footer .p{
    font-size:  var(--global-font-size);
}

.footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.footer-text p{
    padding-right: 5px;
}

@media (max-width: 768px) {
    footer {
        padding: 15px;
        height: 160px;
    }

    .footer-container {
        max-width: 100%;
        padding: 0 15px;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
    }

    .footer-text {
        flex-direction: column;
        text-align: center;
        margin-top: 5px;
        font-size: 14px;
    }

    .footer-text p {
        padding-right: 0;
        margin-bottom: 5px;
    }
}
