header {
    background-color: var(--light-gray);
    color: var(--body-font-color);

    text-align: center;
    padding: 20px 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 80px;
    width: auto;
    display: block;
    padding: 20px;
    border-radius: 80px;
}

.header-section {
    width: 33%;
    text-align: center;
}

.header-section-a {
    display: flex;
    justify-content: start;
}

.header-section-a a {
    display: inline-block;
}

nav a {
    color: var(--body-font-color);
    background: var(--light-gray);
    border: 1px solid transparent;

    margin: 0 5px;
    padding: 10px;

    font-size: 18px;
    border-radius: var(--global-border-radius);
    
    text-decoration: unset;
}

nav a:hover {
    background-color: var(--light-gray-2);
    box-shadow: var(--global-box-shadow);
    border: 1px solid var(--light-gray-3);
}
