header {
    background-color: var(--light-gray);
    color: var(--body-font-color);

    text-align: center;
    padding: 10px 0;
}

.header-container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 80px;
    width: auto;
    display: block;
    border-radius: 80px;
    margin: 40px 0 0 50px;
}

.header-section {
    width: 33%;
    text-align: center;
}

.header-section-a {
    display: flex;
    justify-content: start;
}

.header-section-a a {
    display: inline-block;
}

nav{
    padding: 10px;
}

nav a {
    color: var(--body-font-color);
    background: var(--light-gray);
    border: 1px solid transparent;

    margin: 0 5px;
    padding: 10px;

    font-size: 18px;
    border-radius: var(--global-border-radius);
    
    text-decoration: unset;
}

nav a:hover {
    background-color: var(--light-gray-2);
    border: 1px solid var(--light-gray-3);
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .logo {
        height: 50px;
        margin: 0;
    }

    .header-section {
        width: 100%;
    }

    .header-section-a {
        justify-content: center;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

    nav a {
        display: block;
        width: 70%;
        text-align: center;
        margin: 5px 0;
    }
}
