h2, h3 {
    font-weight: bold;
    text-align: center;
}

.news-title{
    border-radius: var(--global-border-radius);
    background-color: var(--section-background);
    padding: 10px;
    margin-bottom: 20px;
    width: 15%;
    justify-self: center;
    text-transform: uppercase;
}

.news-card-title, .featured-news-title{
    border-radius: var(--global-border-radius);
    background-color: var(--secondary-background);
    margin-bottom: 10px;
    justify-self: center;
}

.featured-news-title h2, .news-card-title h3{
    margin: 5px 0;
    padding: 10px;
}

.featured-news-title {
    font-size: 28px;
}

.news-title h2{
    margin: 0;
}

.date {
    font-size: 14px;
    margin-bottom: 10px;
    padding: 6px 10px;
    background-color: var(--secondary-background);
    border: 1px solid var(--nav-border-color);
    border-radius: var(--global-border-radius);
    display: inline-block;
    text-align: left;
    align-self: flex-start;
}

.read-more {
    position: absolute;
    bottom: 20px;
    right: 20px; 
    padding: 6px 10px;
    border-radius: var(--global-border-radius);
    background: var(--link-color);
    color: var(--body-font-color);
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
    align-self: flex-end;
    text-align: center;
    justify-self: self-end;
}

.read-more:hover{
    background: var(--link-color-hover);
}

.featured-news, .news-card {
    background-color: var(--section-background);
    border-radius: var(--global-border-radius);  
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    position: relative;
}

.featured-news {
    padding: 20px;
    margin-bottom: 20px;
    width: 85%;
    justify-self: center;
}

.featured-news:hover {
    transform: translateY(-5px);
}

.featured-news .main-image, .news-card .image{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    overflow: hidden;
    object-fit: contain;
    margin-bottom: 20px;
}

.featured-news .main-image img, .news-card .image img{
    border-radius: var(--global-border-radius);
}

.featured-news .read-more {
    display: flex;
    justify-self: end;
}

.featured-news .teaser-container{
    width: 66%;
    justify-self: center;
}

.teaser-container{
    color: var(--body-font-color);  
    border-left: 4px solid var(--link-color);
    border-radius: var(--global-border-radius);
    background-color: var(--secondary-background);
    padding: 10px;
    margin-bottom: 50px;
}

.teaser {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 3px;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.news-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}

.news-card{
    display: flex;
    flex: 1 1 calc(33.333% - 20px);
    padding: 20px;
    box-sizing: border-box;
    max-width: calc(33.333% - 20px);
}

.news-card:hover {
    transform: translateY(-5px);
}

.news-card .image {
    height: 175px;
    object-fit: scale-down;
}