.stage-container {
    justify-self: center;
    width: calc(100% - 120px);
    margin-top: 40px;
    padding: 20px;
    background: var(--secondary-background);
    border-radius: var(--global-border-radius);
}

.stage-pic img {
    max-width: 100%;
    border-radius: var(--global-border-radius);
}

@media (max-width: 965px) {
    .stage-pic img {
        border-radius: calc(var(--global-border-radius) / 2);
    }
}