.stage-container {
    justify-self: center;
    width: calc(100% - 120px);
    margin-top: 40px;
    padding: 20px;
    background: var(--secondary-background);
    border-radius: var(--global-border-radius);
}

.stage-pic img {
    max-height: 600px;
    max-width: 100%;
    width: auto;
    height: auto;
    border-radius: var(--global-border-radius);
}
