.stage-container {
    max-width: 66%;
    margin: 20px auto;
    padding: 20px;
    background: var(--light-gray-2);
    border-radius: var(--global-border-radius);
}

.stage-pic img {
    max-width: 100%;
    border-radius: var(--global-border-radius);
}
