.stage-container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: var(--light-gray-2);
    border-radius: var(--global-border-radius);
    box-shadow: var(--global-box-shadow);
}

.stage-pic img {
    max-width: 100%;
    border-radius: var(--global-border-radius);
}
