.article-container{
    border-radius: var(--global-border-radius);
    background-color: var(--section-background);
    padding: 20px;
}

.article-title{
    text-align: center;
}

.article-image {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 500px;
    margin-bottom: 20px;
}

.article-date {
    padding: 10px;
    border-radius: var(--global-border-radius);
    background-color: var(--secondary-background);
    width: 25%;
    justify-self: center;
    margin-bottom: 20px;
}

.article-image img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: var(--global-border-radius);
}

.article-content{
    font-size: 18px;
    border-radius: var(--global-border-radius);
    background-color: var(--secondary-background);
    padding: 20px;
}

.article-content a[href] {
    color: var(--link-color);
    text-decoration: var(--link-decoration);
    font-weight: var(--link-font-weight);
    transition: var(--link-transition);
}
