footer {
    margin-top: 0;
}

.guides-container {
    display: flex;
    height: 100%;
}

.sidebar-container {
    background-color: var(--section-background);
    width: 15%;
}

.sidebar {
    font-size: 18px;
    font-weight: bold;
    position: sticky;
    top: 0;
    background-color: var(--secondary-background);
    border-radius: 0 10px 10px 0;
    margin: 0 20px 0 0;
    max-height: 100vh;
    height: 100%;
    min-width: 200px;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
}

.sidebar.hidden {
    transform: translateX(-100%);
}

.sidebar-toggle {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    color: var(--white);
    background-color: transparent;
    border: none;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: var(--global-border-radius);
    cursor: pointer;
    z-index: 10;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li:first-child {
    margin-top: 10px;
}

.sidebar ul li a {
    display: block;
    padding: 10px;
    border-radius: var(--global-border-radius);
}

.sidebar ul li.active > a {
    font-weight: bold;
    padding-left: 18px;
    border-left: 3px solid var(--link-color);
}

.sidebar ul li a:hover {
    background: var(--link-color);
    color: var(--primary-background);
}

.sidebar ul li .chapters {
    margin-left: 15px;
    display: none;
}

.sidebar ul li .chapters a {
    font-size: 16px;
    padding: 8px 20px;
}

.sidebar ul li .chapters a:hover {
    background: var(--link-color-hover);
    color: var(--primary-background);
}

.sidebar ul li .chapters a.active {
    font-weight: bold;
    border-left: 3px solid var(--link-color);
    padding-left: 18px;
}

#guide-content {
    margin-left: 20px;
    margin-right: 20px;
    flex-grow: 1;
}

main.content {
    padding-bottom: 40px;
    width: 85%;
    background: var(--primary-background);
    border-radius: var(--global-border-radius);
}

::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
}

body {
    -ms-overflow-style: none;
}

.main-title{
    justify-self: center;
}

h2{
    margin-top: 5px;
    margin-bottom: 5px;
}

.container-box-50{
    display: flex;
    width: 50%;
    padding: 20px;
    background-color: var(--section-background);
    border-radius: var(--global-border-radius);
}

.container-content{
    flex-grow: 1;
    display: flex;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
    gap: 20px;
}

.container-text-50{
    width: 50%;
}

.container-text{
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
}

.container-text h4{
    margin-top: 0;
}

.container-text-background{
    background-color: var(--secondary-background); 
    border-radius: var(--global-border-radius);
}

ul {
    padding-left: 40px;
}

.attention-text{
    border: 10px solid var(--warning-color);
    border-radius: var(--global-border-radius);
    padding: 10px;
}

@media (max-width: 1320px) {
    .sidebar {
        position: fixed;
        top: 0;
        right: -20px;
        max-height: 100vh !important;
        transform: translateX(100%);
        z-index: 9;
        border-radius: 10px 0 0 10px;
        transition: transform 0.3s ease-in-out;
    }

    .sidebar-container {
        width: 0;
    }

    .sidebar.show {
        transform: translateX(0);
    }

    .sidebar-toggle {
        display: block;
        right: 15px;
        left: unset;
        top: 10px;
        border: none;
        font-size: 30px;
        cursor: pointer;
        background: transparent;
        border: none;
        transition: transform 0.3s ease-in-out;
    }

    main.content {
        width: 100%;
    }
}


