footer {
    margin-top: 0;
}

/* General Container Styling */
.guides-container {
    display: flex;
    height: 100%;
}

/* Sidebar Styling */

.sidebar-container{
    background-color: var(--section-background);
    width: 15%;
}

.sidebar{
    font-size: 20px;
    font-weight: bold;
    position: sticky;
    top: 0;
    background-color: var(--secondary-background);
    border-radius: 0 10px 10px 0;
    margin: 0 20px 0 0;
    max-height: 100vh;
    height: 100%;
    overflow-y: auto;
    transition: 0.2s ease-in-out;
}

/* Sidebar List Styling */
.sidebar ul {
    list-style: none;
    padding: 0;
}

li.guide-item {
    padding-top: 20px;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li:first-child {
    margin-top: 20px;
}

.sidebar ul li:last-child {
    margin-bottom: -10px;
}

/* Chapter Styling */
.sidebar ul li .chapters {
    margin-left: 20px;
    display: none;
}

.sidebar ul li .chapters a {
    display: flex;
}

/* Guide Content */
#guide-content {
    margin-left: 20px;
    flex-grow: 1;
}

.guide-title{
    margin-bottom: 10px;
}

/* Main Content */
main.content {
    padding-bottom: 40px;
    width: 85%;
    background: var(--primary-background);
    border-radius: var(--global-border-radius);
}

body {
    background-color: var(--section-background);
}

/* WebKit Browsers */
::-webkit-scrollbar {
    display: none;
}

/* Firefox */
* {
    scrollbar-width: none;
}

/* For older browsers */
body {
    -ms-overflow-style: none;
}
