.family-team-title {
    display: flex;
    background-color: var(--section-background);
    padding: 20px;
    border-radius: var(--global-border-radius);
    margin: 20px 0;
}

.family-team-title .title{
    display: flex;
    margin-right: auto;
    padding-left: 10px;
    align-items: center;
}

.family-team-title .join{
    display: flex;
    align-self: center;
    padding-right: 10px;
}

.family-team-title .join a{
    padding-right: 10px;
}

.role-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.role-box {
    color: var(--body-font-color);
    background: var(--section-background);
    
    padding: 20px;
    border-radius: var(--global-border-radius);
    text-align: center;
    width: 280px;
    min-height: 150px;
    
    transition: transform 0.3s ease-in-out;
}

.role-box:hover {
    transform: translateY(-5px);
}

.role-box i {
    font-size: 40px;
    color: var(--player-icon-color);
    margin-bottom: 10px;
}

.role-box h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    letter-spacing: 1px;
}

.role-box p {
    margin: 5px 0;
    color: var(--body-font-color);
}

.role-container .role-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-box {
    animation: scaleUp 1s ease-in-out forwards;
    background: var(--secondary-background);
    padding: 10px;
    border-radius: var(--global-border-radius);
    margin: 5px 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.player-row {
    display: flex; 
    align-items: center; 
    width: 100%; 
    justify-content: center;
}

.player-icon {
    margin-right: 10px; 
    flex-shrink: 0; 
    width: 35px;
    margin-top: 5px;
}

.player-name {
    color: var(--body-font-color);
    font-size: 16px;
    text-align: left;
}

.player-box i {
    text-shadow: unset;
    font-size: 1.5rem;
    color: var(--body-font-color);
}

@keyframes scaleUp {
    from {
        transform: scale(0.6);
    }
    to {
        transform: scale(1);
    }
}

.hyperlink.discord-invite{
    text-decoration: unset;
    :hover{
        text-decoration: unset;
    }
}


.discord-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: var(--secondary-background);
    border-radius: var(--global-border-radius);
    text-align: center;
    width: 16%;
}

.discord-widget .online {
    color: var(--current-online-color);
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.discord-invite {
    display: inline-block;
    padding: 8px 12px;
    background-color: var(--link-color);;
    color: var(--black);
    text-decoration: none;
    border-radius: var(--global-border-radius);
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
}

.discord-invite:hover {
    color: var(--black);
    background-color: var(--link-color-hover);
    transform: scale(1.05);
}

.discord-widget p {
    font-size: 14px;
    margin: 5px 0;
}

@media (max-width: 768px) {
    .family-team-title {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .discord-widget{
        align-self: center;
        width: 66%;
    }

    .family-team-title .title,
    .family-team-title .join {
        justify-content: center;
        margin: 5px 0;
        padding: 10px;
    }

    .role-container {
        flex-direction: column;
        align-self: center;
        align-items: center;
    }

    .role-box {
        width: 90%;
        min-height: auto;
    }

    .player-box {
        width: 100%;
    }

    .player-row {
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 5px;
    }

    .player-icon {
        margin-bottom: 5px;
    }
}