h2, h3 {
    font-weight: bold;
    text-align: center;
}

.news-title{
    border-radius: var(--global-border-radius);
    background-color: var(--section-background);
    padding: 10px;
    margin-bottom: 20px;
    width: 20vh;
    justify-self: center;
    text-transform: uppercase;
}

.news-card-title, .featured-news-title{
    margin-bottom: 10px;
    justify-self: center;
}

.featured-news-title h2, .news-card-title h3{
    margin: 5px 0;
    padding: 10px;
}

.featured-news-title {
    font-size: 28px;
}

.news-title h2{
    margin: 0;
}

.date {
    padding: 10px;
    border-radius: var(--global-border-radius);
    background-color: var(--secondary-background);
    justify-self: center;
    margin-bottom: 20px;
    text-align: center;
}

.featured-news, .news-card {
    background-color: var(--section-background);
    border-radius: var(--global-border-radius);  
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    position: relative;
}

.featured-news {
    padding: 20px;
    margin-bottom: 20px;
    width: 85%;
    justify-self: center;
}

.featured-news:hover {
    transform: translateY(-5px);
}

.featured-news .main-image, .news-card .image{
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
}

.featured-news .main-image{
    border-radius: var(--global-border-radius);
    height: 400px;
}

.featured-news .main-image img{
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.featured-news .teaser-container{
    width: 66%;
    justify-self: center;
}

.teaser-container{
    color: var(--body-font-color);  
    border-left: 4px solid var(--link-color);
    border-radius: var(--global-border-radius);
    background-color: var(--secondary-background);
    padding: 10px;
    margin-bottom: 20px;
}

.teaser {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 3px;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.news-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}

.news-card{
    display: flex;
    flex: 1 1 calc(33.333% - 20px);
    padding: 20px;
    box-sizing: border-box;
    max-width: calc(33.333% - 20px);
}

.news-card:hover {
    transform: translateY(-5px);
}

.news-card .image {
    height: 175px;
    border-radius: var(--global-border-radius);
}

.news-card .image img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

@media only screen and (max-width: 768px) {
    .news-title {
        width: 70%;
        margin-bottom: 10px;
    }

    .featured-news-title {
        font-size: 22px;
    }

    .news-grid {
        flex-direction: column;
        gap: 15px;
    }

    .news-card {
        flex: 1 1 100%;
        max-width: 100%;
        padding: 10px;
    }

    .news-card .image, .featured-news .main-image {
        height: 250px;
        object-fit: cover;
    }

    .featured-news {
        width: 100%;
        margin-bottom: 40px;
        padding: 0;
    }

    .teaser-container{
        width: 100%;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 480px) {
    .news-title {
        width: 90%;
    }

    .featured-news-title {
        font-size: 18px;
    }

    .news-card .image, .featured-news .main-image {
        height: 200px;
    }

    .teaser-container {
        padding: 8px;
        width: 94%;
        margin-bottom: 60px;
    }
}
