.pinned1 {
    position: fixed;
    bottom: 10%;
    left: 20%;
    z-index: 10;
    background-color: white;
    border: 1px solid;
}

.pinned2 {
    position: fixed;
    bottom: 10%;
    right: 20%;
    z-index: 10;
    background-color: white;
    border: 1px solid;
}

.hide_more_text {
    display: none;
}

.pin-button{
    position: absolute;
    margin-top: 5px;
    margin-left: 35px;
    width: 20px;
    height: 20px;
}

.pin-button:focus {
    outline: none;
}