#itemList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-inline-start: 3.333%;
    padding-inline-end: 3.333%;
}

.item {
    box-sizing: border-box; 
    border: 1px solid #ddd; 
    width: 180px;
    height: 160px;

    p {
        margin: 10px 0 5% 5%; 
    }
}

.img-container {
    width: 36px; 
    height: 36px; 
    object-fit: contain; 
    margin: 5px auto;
}

.item_lvl {
    font-weight: bold;
    font-size: 12px;
}
