#itemList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-inline-start: 3.333%;
    padding-inline-end: 3.333%;
}

.item {
    box-sizing: border-box; 
    border: 1px solid #ddd; 
    width: 160px;
    height: auto;

    p {
        margin: 0 0 10px 0; 
        margin-left: 5%;
        margin-right: 5%;
    }
}

.item-image {
    width: 32px; 
    height: 32px; 
    object-fit: contain; 
    margin: 5px auto;
}

.item_lvl {
    font-weight: bold;
    font-size: 12px;
}
